
#kopmenu {
	background-color: yellow;
   background-color: #d0e4fe;
	position: fixed;
	top: 0px;
	z-index: 2;
}

#kop {
	background-color: green;
   background-color: #d0e4fe;
	position: fixed;
	top: 25px;
	z-index: 2;
}

#top {
	background-color: darkblue;
	background-color: #d0e4fe; 
	position: fixed;
	top: 0px;
	left: 0px;
	height: 110px;
	width: 100%;
	z-index: 1;
}

#pagina {
    background-color: gray;
    background-color: #d0e4fe;
    position: relative;
    top: 100px;
}

#pagina2 {
    background-color: gray;
    position: relative;
    top: 100px;
    z-index: -1;
}

body {
    background-color: #d0e4fe;
}

td.nav {
  padding: 0 20px 0 0;
  width: 0;
}


td.info {
  width: 40px;
  height: 40px;
  text-align: center;  
  vertical-align: text-top;
  
}

td.track {
  width: 40px;
  text-align: center;
  vertical-align: text-top;
}

td.title {
  	width: 250px;
  	text-align: left;
  	vertical-align: text-top;
  
}

td.artist {
  	width: 250px;
  	text-align: left;
  	vertical-align: text-top;
}

td.album {
  	width: 250px;
  	text-align: left;
  	vertical-align: text-top;

}

td.year {
  	width: 40px;
  	text-align: center;
  	vertical-align: text-top;
}

td.last {
	width: 50px;
  	text-align: center;
  	vertical-align: text-top;
}

td.played {
  	width: 40px;
  	text-align: center;
  	vertical-align: text-top;
}

td.PlayedArtists, td.beheer {
  width: 400px;
  height: 40px;
  text-align: left;  
  vertical-align: text-top;
  
}

tr.InfoMc, td.InfoMc, td.ListAlbumArtists {
    height: 3em;
    margin: 0;
    border: 0;
}

/* extra hoogte voor de rijen 
*/
tr.ExtraHoog {
	height: 2em;
}


img.thumb {
	width: 150px;
	heigth: 150px;
}

p.thumb {
	text-align: center;
} 

/* TODO, werkt nog niet helemaal goed ! */
td.thumb {
	width: 195px;
	padding: 0 20px 0 0;
	text-align: center;
	margin: 0;
	border: 0;
}

td.SonosSpeakers, td.test11, th.test11 {
	padding: 0px 15px 0px 0px;
   margin: 0px;
   border: 0px;
}

